.manageClass{
	color: #888;
	table-responsive :global {
		padding-top: 30px;
	}
	table :global {
		width: 80%;
		margin: 0 auto;
	}
	table :global(.fa) {
		color: #F08E8E;
		padding-top: 5px;
		font-size: 20px;
	}
	table :global(th) {
		font-weight: 600;
	}
	table :global(button) {
		text-transform: uppercase;
		color: #888;
    	font-weight: 200;
		text-decoration: none;
	}
	.addStudent {
		background-color: #F0F0F0;
		margin: 0 auto;
		padding: 5px;
		width: 100%;
		button:global {
			background-color: darkgreen;
		    border-radius: 0px;
		    margin: 5px 10px 5px 200px;
		    font-size: 14px;
		    padding: 5px 15px 5px 15px;
		}
	}
}