.classDashboard {
	color: #888;
	table-responsive :global {
		padding-top: 30px;
	}
	table :global {
		width: 80%;
		margin: 0 auto;
	}
	table :global(thead) {
		background-color: #f8f8f8
	}
	table :global(th) {
		font-weight: 600;
	}
	table :global(td) {
		border-bottom: 1px solid white;
	}
	table :global(button) {
		text-transform: uppercase;
		color: #888;
    	font-weight: 200;
		text-decoration: none;
	}
}