/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$dark-green: #006400;
$orange: #FF9C2A;
$red: #FF4025;
$blue: #3949AB;
$green: #007E00;
$light-orange: #FFAD25;
$light-red: #FF6D58;
$light-blue: #2DB9FF;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 15px;
$font-family-sans-serif: "Avenir", Helvetica, sans-serif;
