.loginPage {
  input {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin: 4px 18px 0px 0px;
      font-family: "Avenir",Arial,sans-serif;
    }
    form {
      text-align: justify;
      display: inline-block;
       :global(.btn) {
        background-color: darkgreen;
        color: white;
        padding: 6px 25px 6px 25px;
        border-radius: 0px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
    .formContainer {
      background-color: #F0F0F0;
      position: relative;
      margin: 0 auto;
      width: 100%;  
      padding: 25px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .tabContainer {
      text-align: center;
      :global(ul) {
        border-bottom: none;
        float:none;
        display:inline-block;
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
      }
     :global(.nav-tabs > li.active > a) {
        border: none;
        background-color: transparent;
      }
      :global(a) {
        border: none;
        color: #ccc;
      }
    }
  @media (min-width: 768px) {
    .formContainer {
      background-color: #F0F0F0;
      position: relative;
      margin: 0 auto;
      width: 25%;  
      padding: 25px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    input {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin: 5px 0px 15px 0px;
      font-family: "Avenir",Arial,sans-serif;
    }
  }
}


