.app {
  nav :global {
    background-color: darkgreen;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  nav :global(.navbar-brand) {
    padding: 0px;
  }
  nav :global(.navbar-brand>img) {
    height: 100%;
    padding: 0px;
    width: auto;
    margin: 0 auto;
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}
