.app {
  nav :global {
    background-color: darkgreen;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  nav :global(.navbar-brand) {
    padding: 0px;
  }
  nav :global(.navbar-brand>img) {
    height: 100%;
    padding: 9px 0px 4px 11px;
    width: auto;
    margin: 0 auto;
  }
  nav :global(p) {
    color: white;
    display: inline-block;
    padding: 18px 9px;
  }
  @media (min-width: 768px) {
    nav :global(.navbar-brand>img) {
      height: 100%;
      padding: 6px 4px 0px 14px;
      width: auto;
      margin: 0 auto;
    }
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}
